<ion-header>
  <mat-toolbar color="warn">
    <ion-buttons slot="start">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <span>Performance Finder</span>
  </mat-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="performanceForm">
    <ion-grid class="mat-app-background mat-typography">
      <ion-row>
        <ion-col [sizeXs]=12>
          <h2 class="mat-h2">Find the required performance based on points</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [sizeXs]=12 [sizeMd]=4 [sizeSm]=6>
          <mat-form-field appearance="fill" class="full-width-field">
            <mat-label>Type</mat-label>
            <mat-select formControlName="typeSelect">
              <mat-option value="i" selected>
                Indoor
              </mat-option>
              <mat-option value="o">
                Outdoor
              </mat-option>
              <mat-option value="r">
                Road Race
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [sizeXs]=12 [sizeMd]=5 [sizeSm]=6 style="display: flex;">
          <mat-form-field class="full-width-field">
            <mat-label>Please type in your desired points</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="pointsInput"
              (keyup.enter)="(!this.performanceForm.invalid && !performancesAreCalculated)?onGetPerformances():null"
              required>
            <mat-error *ngIf="this.performanceForm.controls['pointsInput'].hasError('required')">
              This field cannot be empty</mat-error>
            <mat-error *ngIf="this.performanceForm.controls['pointsInput'].hasError('pattern')">
              Invalid points</mat-error>
            <mat-error *ngIf="this.performanceForm.controls['pointsInput'].hasError('min')">
              Points must be more than 0</mat-error>
            <mat-error *ngIf="this.performanceForm.controls['pointsInput'].hasError('max')">
              Maximum points are 1400</mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="pointsTltp.toggle()">
            <mat-icon #pointsTltp="matTooltip" color="primary"
              matTooltip="If there aren't any points assigned by the IAAF, then the least required performance to achieve the requested points is displayed.">
              info
            </mat-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [sizeXs]=12 [sizeMd]=5 [sizeSm]=6 style="align-items: center; justify-content: center; display: flex;">
          <button mat-raised-button color="primary" [disabled]="performanceForm.invalid || performancesAreCalculated"
            matRipple (click)="onGetPerformances()"><span class="mat-h1">Calculate</span></button>
          <mat-progress-spinner *ngIf="performancesAreCalculated" [diameter]="20" color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [sizeXs]=12 [sizeMd]=5 [sizeSm]=6>
          <div class="mat-elevation-z8 mat-table" *ngIf="tableIsEmpty()">
            <div class="mat-header-row">
              <div class="mat-header-cell">Men</div>
              <div class="mat-header-cell">Event</div>
              <div class="mat-header-cell">Women</div>
            </div>
            <div *ngFor="let event of eventTableRows">
              <div class="mat-row"
                *ngIf="this.performancesDic.m[event] != null || this.performancesDic.w[event] != null">
                <td class="mat-cell">{{performancesDic.m[event]}}</td>
                <td class="mat-cell">{{event|eventName}}</td>
                <td class="mat-cell">{{performancesDic.w[event]}}</td>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>