<h1 mat-dialog-title>Forgot Password</h1>
<form mat-dialog-content [formGroup]="forgotPasswordForm" fxLayout="column" fxLayoutAlign="start start"
  fxLayoutGap="1vh">
  <span>Please type in the email that you used to register. We will send you an email with a new password.</span>
  <mat-form-field fxFlexFill>
    <input matInput type="email" formControlName="emailInput" placeholder="Email" autocomplete="on"
      (keyup.enter)="!forgotPasswordForm.invalid?returnInfo():null">
  </mat-form-field>
</form>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid"
    (click)="returnInfo()">Submit</button>
</div>
