<form [formGroup]="registrationForm">
    <mat-card-content fxLayout="column" fxLayoutGap="1vh">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="First Name" maxlength="25" cdkFocusInitial>
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['firstName'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['firstName'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-error color="warn" *ngIf="registrationForm.controls['firstName'].hasError('required')">This field
                cannot be empty
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last Name" maxlength="25">
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['lastName'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['lastName'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-error color="warn" *ngIf="registrationForm.controls['lastName'].hasError('required')">This field cannot
                be empty
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username" maxlength="25">
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['username'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['username'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-error color="warn" *ngIf="registrationForm.controls['username'].hasError('required')">This field cannot
                be empty
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" autocorrect="off" autocapitalize="off" matInput formControlName="email"
                placeholder="Email">
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['email'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['email'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-error color="warn" *ngIf="registrationForm.controls['email'].hasError('required')">This field cannot
                be empty
            </mat-error>
            <mat-error color="warn" *ngIf="registrationForm.controls['email'].hasError('email')">This field must be
                an email
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Password" maxlength="25">
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['password'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['password'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-error color="warn" *ngIf="registrationForm.controls['password'].hasError('required')">This field cannot
                be empty
            </mat-error>
            <mat-error color="warn" *ngIf="registrationForm.controls['password'].hasError('minlength')">Password too
                short
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password"
                maxlength="25">
            <mat-icon matSuffix color="primary" *ngIf="!registrationForm.controls['confirmPassword'].errors">
                sentiment_very_satisfied</mat-icon>
            <mat-icon matSuffix color="warn" *ngIf="registrationForm.controls['confirmPassword'].errors">
                sentiment_very_dissatisfied</mat-icon>
            <mat-hint
                *ngIf="registrationForm.controls['password'].value != registrationForm.controls['confirmPassword'].value"
                style="color: #ff2534;">
                Passwords don't match
            </mat-hint>
            <mat-error color="warn" *ngIf="registrationForm.controls['confirmPassword'].hasError('required')">This field
                cannot be
                empty
            </mat-error>

        </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button
            [disabled]="registrationForm.invalid || registrationForm.controls['password'].value != registrationForm.controls['confirmPassword'].value || isLoading"
            color="primary" (click)="onRegister();">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
        </button>
    </mat-card-actions>
    <div class="mat-small" style="color: #ff2534" *ngIf="showErrorMessage">{{errorMessage}}</div>
    <div class="mat-small" style="color: #ff2534" *ngIf="showRegistrationMessage">Please confirm you email to active
        your account</div>
</form>
<!--  -->