<mat-card>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img mat-card-sm-image src="assets/logo.svg">
    <mat-card-title></mat-card-title>
  </div>
  <nav mat-tab-nav-bar dynamicHeight>
    <a mat-tab-link [routerLink]="[ 'login' ]" routerLinkActive #loginTab="routerLinkActive"
      [active]="loginTab.isActive">Sign In</a>
    <a mat-tab-link [routerLink]="[ 'register' ]" routerLinkActive #registerTab="routerLinkActive"
      [active]="registerTab.isActive">Register</a>
  </nav>
  <router-outlet></router-outlet>
</mat-card>
