<ion-grid class="mat-app-background mat-typography">
    <ion-row>
        <ion-col [sizeXs]=12 [sizeMd]=4 [sizeSm]=6>
            <mat-form-field appearance="fill" class="full-width-field">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="selectedFilters.gender" name="gender" (selectionChange)="filterEvents()">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{gender | gender | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
        <ion-col [sizeXs]=12 [sizeMd]=4 [sizeSm]=6>
            <mat-form-field appearance="fill" class="full-width-field">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="selectedFilters.type" name="type" (selectionChange)="filterEvents()">
                    <mat-option *ngFor="let type of eventTypes" [value]="type">
                        {{type | eventType | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
        <ion-col [sizeXs]=12 [sizeMd]=4 [sizeSm]=6>
            <mat-form-field appearance="fill" class="full-width-field">
                <mat-label>Event</mat-label>
                <mat-select (selectionChange)="eventSelected($event)" [compareWith]="compareFn">
                    <mat-option *ngFor="let event of filteredEvents" [value]="event" >
                        {{event.Name | eventName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
    </ion-row>
</ion-grid>