<ion-grid class="mat-app-background mat-typography">
    <ion-row>
        <ion-col [sizeMd]="8" [sizeXs]="12">
            <mat-card>
                <mat-card-title>{{this.selectedEvent.Name | eventName }}</mat-card-title>
                <mat-card-subtitle>{{this.selectedEvent.Gender | gender | titlecase}} -
                    {{this.selectedEvent.Type | eventType | titlecase}}</mat-card-subtitle>
                <mat-card-content>
                    <form [formGroup]="eventForm">
                        <ion-grid class="mat-app-background mat-typography">
                            <ion-row>
                                <ion-col [sizeXs]="12" [sizeSm]="6">
                                    <div class="full-width-field" style="display: flex">
                                        <mat-form-field>
                                            <mat-label>Performance</mat-label>
                                            <input matInput type="text" autocomplete="off"
                                                formControlName="performanceInput"
                                                (keyup.enter)="(!eventForm.invalid && !pointsAreCalculated)?onCalculate():null"
                                                required>
                                            <mat-error
                                                *ngIf="this.eventForm.controls['performanceInput'].hasError('required')">
                                                This field cannot be empty</mat-error>
                                            <mat-error
                                                *ngIf="this.eventForm.controls['performanceInput'].hasError('pattern')">
                                                Invalid performance</mat-error>
                                        </mat-form-field>
                                        <button mat-icon-button (click)="performanceTltp.toggle()">
                                            <mat-icon #performanceTltp="matTooltip" color="primary"
                                                matTooltip="{{selectedEvent.PerformanceValidation.Message}}">info
                                            </mat-icon>
                                        </button>
                                    </div>
                                </ion-col>
                                <ion-col [sizeXs]="12" [sizeSm]="6">
                                    <mat-form-field class="full-width-field" appearance="fill">
                                        <mat-label>Performance Points</mat-label>
                                        <input matInput type="text" autocomplete="off" placeholder="Performance Points"
                                            formControlName="performancePoints" style="color: green">
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="selectedEvent.SupportsWind">
                                <ion-col [sizeXs]="12" [sizeSm]="6">
                                    <mat-form-field class="full-width-field">
                                        <mat-label>Was the wind measured during the race?</mat-label>
                                        <mat-select formControlName="windmeasuredSelect" required>
                                            <mat-option
                                                style="height:auto; white-space: pre-line; text-overflow: ellipsis;"
                                                value="true">
                                                Yes
                                            </mat-option>
                                            <mat-option
                                                style="height:auto; white-space: pre-line; text-overflow: ellipsis;"
                                                value="false">
                                                No
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="selectedEvent.SupportsWind">
                                <ion-col [sizeXs]="12" [sizeSm]="6">
                                    <mat-form-field class="full-width-field"
                                        *ngIf="this.eventForm.controls['windmeasuredSelect'].value=='true'">
                                        <input matInput type="text" autocomplete="off" formControlName="windInput"
                                            placeholder="Please type in the wind, if known{{this.eventForm.controls['windmeasuredSelect'].value=='true'?'':' (disabled)'}}">
                                        <span matSuffix>m/s</span>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col [sizeXs]="12" [sizeSm]="6">
                                    <mat-form-field class="full-width-field" appearance="fill">
                                        <mat-label>Wind Points</mat-label>
                                        <input matInput type="text" autocomplete="off" formControlName="windPoints"
                                            placeholder="Wind Points"
                                            [ngStyle]="{color: eventForm.controls['windPoints'].value>0?'green':eventForm.controls['windPoints'].value<0?'red':'inherit'}">
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col [sizeXs]="12">
                                    <mat-checkbox formControlName="calculatePlacePointsCheckbox" labelPosition="before"
                                        (change)="updateFormValidation()">Calculate Points
                                        from Place</mat-checkbox>
                                    <button mat-icon-button (click)="calculatePlacePointsTltp.toggle()">
                                        <mat-icon #calculatePlacePointsTltp="matTooltip" color="primary"
                                            matTooltip="This does not apply to you, in case you competed out of competition or as foreigner in national championships.">
                                            info
                                        </mat-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                            <div *ngIf="eventForm.controls['calculatePlacePointsCheckbox'].value">
                                <ion-row>
                                    <ion-col [sizeXs]="6" class="multi-line">
                                        <mat-form-field class="full-width-field">
                                            <mat-label>Type of Competition</mat-label>
                                            <mat-select formControlName="competitionTypeSelect"
                                                (selectionChange)="getMeetingCategories($event)" required>
                                                <mat-option
                                                    style="height:auto; white-space: pre-line; text-overflow: ellipsis;"
                                                    *ngFor="let group of selectedEvent.Groups" [value]="group">
                                                    {{group.Name | competitionType}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col [sizeXs]="12" [sizeSm]="6"
                                        *ngIf="this.eventForm.controls['competitionTypeSelect'].value.HasProgressToFinal">
                                        <mat-form-field class="full-width-field">
                                            <mat-label>Did you qualify?</mat-label>
                                            <mat-select required formControlName="progressedToFinalCombo">
                                                <mat-option value="true">Yes</mat-option>
                                                <mat-option value="false">No</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col [sizeXs]="12" [sizeSm]="6" class="multi-line">
                                        <mat-form-field>
                                            <mat-label>Meeting Category Type</mat-label>
                                            <mat-select formControlName="meetingCategorySelect" required
                                                [disabled]="meetingCategories.length==0">
                                                <mat-option
                                                    style="height:auto; white-space: pre-line; text-overflow: ellipsis;"
                                                    *ngFor="let meetingCategory of meetingCategories"
                                                    [value]="meetingCategory">
                                                    {{meetingCategory | meetingCategory}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button (click)="categoryTypeTltp.toggle()">
                                            <mat-icon #categoryTypeTltp="matTooltip" color="primary"
                                                matTooltip="Be sure that if your event is not in the official meeting's disciplines, then other meeting category may apply.">
                                                info
                                            </mat-icon>
                                        </button>
                                    </ion-col>
                                    <ion-col [sizeXs]="12" [sizeSm]="6">
                                        <button mat-raised-button color="accent"
                                            [disabled]="meetingCategories.length==0" (click)="onSearchMeetings()">
                                            <mat-icon>search</mat-icon>Search
                                        </button>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col [sizeXs]="12" [sizeSm]="6">
                                        <mat-form-field>
                                            <mat-label>Place</mat-label>
                                            <input matInput formControlName="placeInput" autocomplete="off"
                                                type="numeric"
                                                (keyup.enter)="(!eventForm.invalid && !pointsAreCalculated)?onCalculate():null"
                                                required>
                                        </mat-form-field>
                                        <button mat-icon-button (click)="placeTltp.toggle()"
                                            *ngIf="this.eventForm.controls['competitionTypeSelect'].value.HasProgressToFinal">
                                            <mat-icon #placeTltp="matTooltip" color="primary"
                                                matTooltip="Write the place that you took at final standings of the event">
                                                info
                                            </mat-icon>
                                        </button>
                                    </ion-col>
                                    <ion-col [sizeXs]="12" [sizeSm]="6">
                                        <mat-form-field class="full-width-field" appearance="fill">
                                            <mat-label>Place Points</mat-label>
                                            <input matInput formControlName="placePoints" placeholder="Place Points"
                                                type="text" autocomplete="off" style="color: green">
                                        </mat-form-field>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-grid>
                    </form>
                    <mat-divider [inset]="true"></mat-divider>
                    <span class="mat-h1">Total Points:</span> <span class="mat-h1"
                        style="color: green">{{totalPoints?totalPoints:''}}</span>
                </mat-card-content>
                <mat-card-actions style="align-items: center; justify-content: center; display: flex;">
                    <button mat-raised-button color="primary" [disabled]="eventForm.invalid || pointsAreCalculated"
                        matRipple (click)="onCalculate()"><span class="mat-h1">Calculate</span></button>
                    <button mat-raised-button color="accent" (click)="clearForm()"><span
                            class="mat-h1">Clear</span></button>
                    <mat-progress-spinner *ngIf="pointsAreCalculated" [diameter]="20" color="primary"
                        mode="indeterminate"></mat-progress-spinner>
                </mat-card-actions>
            </mat-card>
        </ion-col>
    </ion-row>
</ion-grid>