<mat-accordion>
  <mat-expansion-panel [expanded]="savedOptions.filtersPanelExpanded" (afterCollapse)="savePanelState(false)"
    (afterExpand)="savePanelState(true)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Combined Event Filters
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row wrap" fxLayoutGap="1vw">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <mat-form-field appearance="fill" fxFlex.lt-sm="100%">
        <mat-label>Gender</mat-label>
        <mat-select #gender (selectionChange)="filterEvents(gender.value, combinedEventType.value)">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{gender | gender | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex.lt-sm="100%">
        <mat-label>Type</mat-label>
        <mat-select #combinedEventType (selectionChange)="filterEvents(gender.value, combinedEventType.value)">
          <mat-option *ngFor="let combinedEventType of combinedEventTypes" [value]="combinedEventType">
            {{combinedEventType | eventType | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex.lt-sm="100%">
        <mat-label>Event</mat-label>
        <mat-select #selectedCombinedEvent (valueChange)="onEventSelection(selectedCombinedEvent.value)"
          [disabled]="(!gender.value || !combinedEventType.value) && !isLoading">
          <mat-option *ngFor="let event of filteredEvents" [value]="event">
            {{event.Name | eventName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
