<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span fittext [maxFontSize]='20' [delay]='0'>Menu</span>
    <button mat-icon-button fxFlexOffset="auto" (click)="toggleTheme()">
      <mat-icon>
        <span *ngIf="isDarkTheme">brightness_5</span>
        <span *ngIf="!isDarkTheme">brightness_7</span>
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" (click)="onItemSelected()">
    <mat-icon mat-list-icon color="primary">{{menuItem.icon}}</mat-icon>
    <span>{{menuItem.title}}</span>
  </mat-list-item>
  <a href="mailto:dimi.chondrokoukis@gmail.com?Subject=Athletics%20Ranking%20Points%20Calculator">
    <mat-list-item>
      <mat-icon mat-list-icon color="primary">email</mat-icon>
      <span>Contact</span>
    </mat-list-item>
  </a>
</mat-nav-list>
<mat-nav-list fxFlexOffset="auto">
  <mat-list-item (click)="onItemSelected()" routerLink="/rns/bookmarks">
    <mat-icon mat-list-icon color="primary">bookmarks</mat-icon>
    <span>Saved Competitions (Beta)</span>
  </mat-list-item>
</mat-nav-list>
<p class="mat-small accent-color" style="text-align: center;">Version v19.11.18.1</p>
