<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span fittext [maxFontSize]='20' [delay]='0'>Menu</span>
    <button mat-icon-button fxFlexOffset="auto" (click)="toggleTheme()">
      <mat-icon>
        <span *ngIf="isDarkTheme">brightness_5</span>
        <span *ngIf="!isDarkTheme">brightness_7</span>
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-list-item *ngIf="!profile">
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line>Guest</h4>
  </mat-list-item>
  <mat-list-item *ngIf="profile">
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line>{{profile.FirstName}} {{profile.LastName}}</h4>
    <p mat-line>{{profile.Email}}</p>
  </mat-list-item>
</mat-list>
<mat-nav-list>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" (click)="onItemSelected()">
    <mat-icon mat-list-icon>{{menuItem.icon}}</mat-icon>
    <span>{{menuItem.title}}</span>
  </mat-list-item>
  <a href="mailto:dimi.chondrokoukis@gmail.com?Subject=Athletics%20Ranking%20Points%20Calculator">
    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <span>Contact</span>
    </mat-list-item>
  </a>
</mat-nav-list>
<mat-nav-list fxFlexOffset="auto">
  <mat-divider></mat-divider>
  <mat-list-item (click)="onItemSelected()" routerLink="/rns/bookmarks">
    <mat-icon mat-list-icon>bookmarks</mat-icon>
    <span>Saved Competitions (Beta)</span>
  </mat-list-item>
  <mat-list-item *ngIf="profile">
    <mat-icon mat-list-icon>supervisor_account</mat-icon>
    <span>Your Account</span>
  </mat-list-item>
  <mat-list-item *ngIf="!profile" (click)="onItemSelected();onOpenAuthenticationDialog()">
    <mat-icon mat-list-icon>settings_applications</mat-icon>
    <span>Sign In/Register</span>
  </mat-list-item>
  <mat-list-item *ngIf="installPrompt" (click)="onInstallApp()">
    <mat-icon mat-list-icon>get_app</mat-icon>
    <span>Install</span>
  </mat-list-item>
</mat-nav-list>
<p class="mat-small accent-color" style="text-align: center;">Version v19.10.24.1</p>