<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5vh">
  <mat-card>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="1vw">
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Search by name of meeting, city or country</mat-label>
        <input matInput type="search" #search autocomplete="off" autocorrect="off" autocapitalize="off"
          (keyup)="$event.keyCode==13?$event.preventDefault():filterMeetings(month.value, search.value);">
        <mat-icon matSuffix color="primary">search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex.lt-sm="100%">
        <mat-label>Month</mat-label>
        <mat-select #month (selectionChange)="filterMeetings(month.value, search.value)" [value]="currentDate.month">
          <mat-option>All Months</mat-option>
          <mat-option *ngFor="let month of objectKeys(Months)" [value]="number(month)">
            {{ Months[month] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex.lt-sm="100%">
        <mat-label>Year</mat-label>
        <mat-select #year (selectionChange)="getMeetings(year.value, month.value, search.value)"
          [value]="currentDate.year">
          <mat-option>All Years</mat-option>
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="1vw">
      <div mat-dialog-content fxFlex="100%">
        <mat-selection-list #meetingsList>
          <mat-list-option *ngFor="let meeting of filteredMeetings" [value]="meeting">
            <h3 mat-line><strong>{{meeting.Name}}</strong></h3>
            <p mat-line><strong>Date:</strong> {{meeting.Date | date :'mediumDate'}}</p>
            <p mat-line><strong>Category:</strong> {{meeting.MeetingCategory | uppercase}}</p>
            <p mat-line>{{meeting.City}}, {{meeting.Country}}</p>
            <mat-divider></mat-divider>
          </mat-list-option>
        </mat-selection-list>
        <p *ngIf="filteredMeetings.length == 0">No Meetings Found</p>
      </div>
    </mat-card-content>
    <mat-dialog-actions align="end">
      <button matRipple mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
      <button matRipple mat-raised-button color="primary" [disabled]="meetingsList.selectedOptions.selected.length==0"
        [mat-dialog-close]="returnSelectedMeeting(meetingsList)">Select</button>
    </mat-dialog-actions>
  </mat-card>
</div>
