<div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row">
        <button mat-stroked-button fxFlexOffset="1vw" (click)="onLogin()">
            <mat-icon>input</mat-icon>Sign In
        </button>
    </div>
    <p>
        * Sign in, so you can have your competition history across all your devices, or in case you need to
        reinstall
        Athletics Calculator. When you sign in, every saved competition in the current device, will be added in your
        account.
    </p>
</div>