<mat-sidenav-container fullscreen autosize>
  <mat-sidenav #drawer mode="over">
    <app-menu (itemSelected)="drawer.close()" fxLayout="column" fxFlexFill></app-menu>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle(); drawer.autoFocus=false">
          <mat-icon>menu</mat-icon>
        </button>
        <span fittext [maxFontSize]="20" [delay]="0">Athletics Calculator</span>
        <mat-icon fxFlexOffset="auto" matTooltip="You are offline" style="float: right;" *ngIf="!isOnline">wifi_off
        </mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
