<h1 mat-dialog-title>Save info</h1>
<form mat-dialog-content [formGroup]="infoForm" fxFlexFill>
  <mat-form-field fxFlex="100%">
    <input matInput type="text" formControlName="nameInput" placeholder="Name" autocomplete="off" (keyup.enter)="!infoForm.invalid?returnInfo():null" required>
  </mat-form-field>
</form>
<div mat-dialog-actions fxLayout="row" fxLayoutGap="1vw">
  <button fxFlexOffset="auto" mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!infoForm.valid" (click)="returnInfo()">Save</button>
</div>
