<mat-toolbar>
  <mat-toolbar-row>
    <span fittext [maxFontSize]="20" [delay]="0">Calculate points based on performance and
      results</span>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5vh">
  <app-event-filters [events]="events$" (onEventSelected)="setEvent($event)"></app-event-filters>
  <app-event-details *ngIf="selectedEvent" [selectedEvent]="selectedEvent" ngStyle.xs="width: 100vw;"
    style="width: 95vw;"></app-event-details>
</div>
