/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.toolbar-header{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.position-fixed{
    position: fixed;
    z-index: 1;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto !important;
   }

