<ion-header>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <span style="font-size: 1.05rem">Scoring & Ranking Points Calculator</span>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="mat-app-background mat-typography">
    <ion-row>
      <ion-col [sizeXs]=12>
        <h2 class="mat-h2">Calculate points based on performance and results</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-event-filters (onEventSelection)="selectEvent($event)" [Events]="events"></app-event-filters>
  <app-event-details *ngIf="selectedEvent" [selectedEvent]="selectedEvent"></app-event-details>
</ion-content>